:root {
    --bDarkColor: #043F98;
    --bLighterColor: #1165C1;
    --bLighter2Color: #66BEF9;
    --bLighter3Color: #309AF1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  background-color: white;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  z-index: -1;
}


// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

.loginForm {
  position: absolute;
  width: 27.5rem;
  height: 75%;
  justify-self: center;
  align-self: center;
  bottom: auto;
  border-radius: 0.25rem;
}

.loginForm::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  border-radius: 0.25rem;
  
  background: radial-gradient(var(--bDarkColor) 50%, var(--bLighterColor) 150%);
  // background: linear-gradient(0deg, var(--bDarkColor) 25%, var(--bLighterColor) 125%);
  // background: transparent;
  
}

